<ion-header>
  <ion-toolbar>
    <ion-title>Super-Man Comics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- displays comics cover and some info-->
  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/home']" routerDirection="backwards">Home Page</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/Action_Comics_1.jpg">
    <ion-card-header>
      <ion-card-subtitle>Action Comics #1</ion-card-subtitle>
      <ion-card-title>Released: June 1938</ion-card-title>
    </ion-card-header>    
  </ion-card>

  <ion-card>
    <img src="https://images-na.ssl-images-amazon.com/images/I/81O3CTiU0ML.jpg">
    <ion-card-header>
      <ion-card-subtitle>Superman for All Seasons</ion-card-subtitle>
      <ion-card-title>Released: 1998</ion-card-title>
    </ion-card-header>    
  </ion-card>

  <ion-card>
    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1298557533l/154798.jpg">
    <ion-card-header>
      <ion-card-subtitle>Superman: Red Son</ion-card-subtitle>
      <ion-card-title>Released: 2003</ion-card-title>
    </ion-card-header>    
  </ion-card>

  <ion-card>
    <img src="https://images-na.ssl-images-amazon.com/images/I/915MOcOmr2L.jpg">
    <ion-card-header>
      <ion-card-subtitle>The Death of Superman: The Wake</ion-card-subtitle>
      <ion-card-title>Released: 1993</ion-card-title>
    </ion-card-header>    
  </ion-card>


</ion-content>
