<ion-header>
  <ion-toolbar>
    <ion-title>Super-Man Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/home']" routerDirection="backwards">Home Page</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-item>
  </ion-list>

<!-- displays super man movie info from movie data base -->
  <ion-card *ngFor="let movie of MovieData">
    <img src="{{movie.Poster}}">
    <ion-card-header>
      <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
      <ion-card-title>{{movie.Title}}</ion-card-title>
    </ion-card-header>
  
    
  </ion-card>

</ion-content>
